body {
    color: #000;
}

.wrapper {
    background-color: whitesmoke;
    width: 80vw;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.container {
    color: red;
    padding: 20px;
    
}